.container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}

.codeContainer {
  display: flex;
  justify-content: space-between;
  font-family: 'Recursive', monospace;
  font-variation-settings: var(--font-variation-monospace);
  padding: 1rem 0 1rem 1rem;
  border-style: none;
  border-radius: 1em;
  color: white;
  background-color: tomato;
  box-shadow: 0.2em 0.2em 0 rgb(184, 70, 50);
}

.codeText {
  padding-right: 1rem;
  white-space: pre;
  text-align: left;
  font-size: 1rem;
}

.copyButton {
  font-size: larger;
  background-color: transparent;
  border-style: none;
  border-radius: 0.3em;
  transition: 100ms;
}

.copyButton:hover {
  background-color: rgb(184, 70, 50);
}

.fadeEnterActive,
.fadeExitActive {
  transition: opacity 0.5s;
}

.fadeEnter {
  opacity: 0;
}

.fadeExitTo {
  opacity: 0;
  transform: translateY(1em);
  transition: 0.2s;
}
